
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Kanit&family=Roboto:wght@400;500&family=Source+Code+Pro:wght@300&display=swap');

.Blogcontainer {
  margin: 70px;
  padding: 0 88px;
}

.Blogbgc{
    background-color: rgb(101, 31, 71);
}
.Blogcontainer {
  color: rgb(199, 199, 199);
}
.Blogcontainer h1 {
  margin: 25px;
  font-family: "Source Code Pro", monospace;
}
.BlogItem h2 {
  margin: 20px 20px 10px 10px;
  font-family: "Kanit", sans-serif;
} 
.BlogItem p {
  font-family: 'Source Code Pro', monospace;
  margin-left: 20px; 
}
.btn2 {
  margin: 10px 10px 0 20px;
  padding: 10px;
  /* font-size: 20px; */
  border-radius: 10px;
  background-color: rgb(15, 155, 155);
}
.btn2:hover{
  background-color: rgb(35, 30, 30);
  color: white;
}