@font-face {
  font-family: Rejouice;
  src: url(Fonts/Rejouice-Headline.ttf);
}
@font-face {
  font-family: NBInternational;
  src: url(./Fonts/NBInternationalProBoo.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: NBInternational;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* ********************************************************************* */
#page1 {
  width: 100%;
  height: 100vh;
  background-color: bisque;
  position: relative;
}

#page1 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.page1-container {
  width: 100%;
  height: 100vh;
  /* background-color: rgb(0, 0, 0); */
  position: relative;
  z-index: 10;
  color: #fff;
  font-family: Rejouice;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  width: 100%;
  height: 100px;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  padding: 3vw 3vw;
}

nav h3 {
  font-family: NBInternational;
  font-size: 1.4vw;
  font-weight: 500;
}
.page1-container h1 span {
  font-size: 27vw;
  font-family: Rejouice;
  font-weight: 100;
  line-height: 27vw;
}

.play {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5f38;
  width: 7.5vw;
  height: 7.5vw;
  position: fixed;
  z-index: 9;
  border-radius: 50%;
  opacity: 0;
  scale: 0;
  transform: translate(-50%, -50%);
}

.play h5 {
  font-size: 1.15vw;
  font-weight: 500;
}

/* ************************************************************************ */

.page2 {
  width: 100%;
  background-color: #faf8f3;
  height: 100vh;
  position: relative;
  padding: 5vw 2.8vw;
}

.page2-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 1.2vw;
  margin-bottom: 1vw;
  border-bottom: 1px solid #00000092;
}

.page2-top h3 {
  font-size: 1.7vw;
  font-weight: 500;
  width: 26%;
  /* background-color: red; */
}

.page2-top h4 {
  font-size: 1.7vw;
  font-weight: 500;
}

.elem {
  overflow: hidden;
}

.elem h1 {
  /* background-color: green; */
  font-size: 4.2vw;
  font-weight: 500;
}

/* ************************************************************************ */

.page3 {
  background-color: #faf8f3;
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 3vw;
}

.page3-top {
  /* background-color: red; */
  text-align: center;
}

.page3-top h4 {
  margin-bottom: 1vw;
  font-size: 1vw;
  font-weight: 500;
}
.page3-top h2 {
  font-size: 4vw;
  font-weight: 400;
  opacity: 1;
  scale: 1;
}

.page3-top h4 span {
  font-size: 0.7vw;
  background-color: #000;
  color: #fff;
  padding: 4px 10px ;
  border-radius: 10px;
}

.page3-top2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 108px;
}

.page3-top2 h2 {
  font-weight: 400;
  font-size: 1.7vw;
  letter-spacing: -0.9px;
}

.page3-top2 h2 span:hover {
  border-bottom: 1px solid #000000dd;
  cursor: pointer;
}

.page3-element {
  /* background-color: pink; */
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8vw;
}

.page3-element .box {
 width: 33%;
 height: 100%;
 background-color: blue;
 position: relative;
}

.page3-element .box  video  {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.page3-element .box  img  {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  object-position: center;
  transition: all linear 0.6 s;
}
.page3-element .box:hover img {
  opacity: 0;
}

/* *********************************************************************** */

#page4 {
  background-color: #faf8f3;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.page4part1 h2  {
  font-weight: 100;
  font-size: 1.9vw;
  opacity: 1;
  transform: scaleX(1); /* Corrected property */
}

.page4part1 {
  /* background-color: red; */
  width: 96%;
  margin-left: 2%;
  padding-bottom: 1vw;
  border-bottom: 1px solid  #000000dd;
}

.page4elem {
  margin-top: 2vw;
  padding: 0 2vw;
  margin-bottom: 6vw;
}
.page4elem h1 {
  font-size: 4.2vw;
  font-weight: 500;
}
.page4video {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

#page4 video {
  height: 100%;
  width: 60%;
}

#page4 svg {
  position: absolute;
  height: 40%;
  top: 43vw;
}

#page5 {
  height: 100vh;
  width: 100%;
  padding: 3vw 0;
}

.page5-top h1 {
 font-family: Rejouice;
 font-size: 10vw;
 font-weight: 100;
 border-bottom: 1px solid #000000dd;
 /* background-color: red; */
 width: 96%;
 margin-left: 2%;
}

.swiperdiv {
  height: 60vh;
  width: 100%;
  position: relative;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}