* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
*::selection {
  color: #fff;
  background-color: black;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #f7f7f7;
}
.nav {
  /* height: 100px; */
  width: 100%;
  padding: 23px;
  /* background-color: rgb(182, 188, 188); */
  position: fixed;
  z-index: 99;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.nav .nav-1 {
  /* background-color: red; */
  height: 84px;
  overflow: hidden;
}
.nav .nav-1 svg {
  display: block;
}
.nav .nav-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.links {
  padding: 10px;
}
.nav-2 .links a {
  text-decoration: none;
  color: #333;
  font-weight: 400;
  font-size: 14px;
  margin: 0 20px;
}
.icons {
  padding: 10px;
  border-radius: 50px;
  background-color: #f7f7f7;
}
.nav-2 .icons i {
  font-size: 18px;
  margin: 0 20px;
  /* font-weight: 100; */
}
#cursor {
  height: 250px;
  width: 250px;
  background-color: rgb(221, 221, 221);
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%) scale(0);
}
#page1 {
  min-height: 100vh;
  position: relative;
  width: 100%;
  padding: 0 2vw;
  padding-top: 16vw;
}
#page1 h1 {
  font-size: 15.6vw;
  text-transform: uppercase;
  font-family: futura;
  line-height: 14vw;
  letter-spacing: -8px;
}
#video-container {
  position: relative;
  height: 100vh;
  width: 100%;
  /* background-color: yellow; */
  margin-top: 1vw;
}
#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#video-container .play {
  padding: 3vw 2.2vw;
  background-color: black;
  color: #fff;
  font-size: 1.3vw;
  position: fixed;
  text-transform: uppercase;
  font-family: futura;
  border-radius: 50%;
  opacity: 0;
  scale: 0;
}
#page2 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw 1vw;
}
#page2 .elem {
  height: 100%;
  width: 32%;
  /* background-color: red; */
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page2 .elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.1;
}
#page2 .elem .dets {
  height: 50px;
  border-radius: 50px;
  width: 70%;
  position: absolute;
  z-index: 9;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
  background-color: pink;
}
#page3 {
  min-height: 120vh;
  width: 100%;
  position: relative;
  /* background-color:#F7F7F7; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.child {
  height: 54vh;
  width: 38vw;
  /* background-color: red; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.child img {
  height: 100%;
}

@media (max-width: 600px) {
  .nav {
    /* height: 100px; */
    width: 100%;
    padding: 15px;
    /* background-color: rgb(182, 188, 188); */
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .nav .nav-1 {
    /* background-color: red; */
    height: 62px;
    overflow: hidden;
  }
  .nav .nav-1 svg {
    display: block;
    height: 70px;
  }
  .nav .nav-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .links {
    padding: 10px;
    display: none;
  }
  .nav-2 .links a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 14px;
    margin: 0 20px;
  }
  .icons {
    padding: 10px;
    border-radius: 50px;
    background-color: #f7f7f7;
  }
  .nav-2 .icons i {
    font-size: 18px;
    margin: 0 20px;
    /* font-weight: 100; */
  }
  #cursor {
    height: 150px;
    width: 150px;
    background-color: rgb(211, 215, 252);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);
  }

  #page1 h1 {
    font-size: 16vw;
    letter-spacing: -4px;
  }
  #page1 {
    min-height: 60vh;
    width: 100%;
    padding: 0 3vw;
    padding-top: 16vh;
  }

  #video-container {
    height: 25vh;
    margin-top: 3vw;
  }

  #video-container .play {
    padding: 9.5vw 7.2vw;
    font-size: 4.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    scale: 1;
    transform: translate(-50%, -50%);
  }

  #page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vw 3vw;
    flex-direction: column;
  }
  #page2 .elem {
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    overflow: hidden;
    margin-bottom: 3vw;
  }

  #page2 .elem .dets {
    height: 40px;
    border-radius: 50px;
    width: 70%;
    position: absolute;
    z-index: 9;
    background-color: pink;
  }
  #page3 {
    min-height: 120vh;
    width: 100%;
    position: relative;
    /* background-color:#F7F7F7; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .child {
    height: 54vh;
    width: 88vw;
    padding: 15vw;
    /* background-color: red; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .child img {
    height: 100%;
  }
}
